# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# Environment files (we'll use these later for secrets)
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.bak*
